.btn-outline-primary {
    font-weight: 500;
    padding: 0.6rem 1.2rem;
    transition: all 0.3s ease;

    &:hover {
        background-color: $primary-blue;
        color: $peach;
    }
}

.btn-primary {
    background-color: $primary-blue;
    border: none;

    &:hover {
        background-color: $secondary-blue;
        color: $peach;
    }
}

.login-btn {
    .nav-link {
        font-weight: 500;

        &:hover {
            color: $peach;
        }
    }
}