.company-card {
    background-color: $peach;
    border: 1px solid $secondary-blue;
    color: $black;
    transition: transform 0.2s ease;
}

.company-card:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.company-card .card-header {
    background-color: $primary-blue;
    color: white;
}