.hero-section {
    height: 90vh;
    background-color: $peach;

    h1 {
        color: $black;
    }

    p {
        color: $primary-blue;
    }


    .hero-btn {
        background-color: $primary-blue;
        border: none;
        color: white;

        &:hover {
            background-color: $secondary-blue;
            color: $black;
        }
    }


    .scroll-text {
        color: $primary-blue;
    }


    .scroll-icon {
        color: $primary-blue;
        text-decoration: none;

        &:hover {
            color: $secondary-blue;
        }
    }
}