.hero-section {
    background-color: $peach;
    height: 100vh;
    padding: 0 1rem;

    h1 {
        color: $black;
    }

    p {
        color: $primary-blue;
    }

    .hero-btn {
        background-color: $primary-blue;
        border: none;
        padding: 0.75rem 1.5rem;
        font-weight: 600;
        color: white;

        &:hover {
            background-color: $secondary-blue;
            color: $peach;
        }
    }
}