.login-page {
    background-color: $peach;
    
    .nav-link {
        color: $primary-blue;
        font-weight: 500;

        &.active {
            background-color: $primary-blue;
            color: white;
        }

        &:hover {
            color: $secondary-blue;
        }
    }


    label {
        color: $primary-blue;
        font-weight: 500;
    }
}